* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: linear-gradient(to right, #001022, #001d3d);
    font-size: 16px;
}

.card {
    width: 28.125em;
    max-width: 29.375em;
    background: linear-gradient(to right, #7bb5f5, hsl(212, 100%, 64%));
    color: #fff;
    margin: 2.5em auto 0;
    border-radius: 1.25em;
    padding: 2.5em 2.1875em;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background-color: #ffffff;
    color: #555;
    padding: 0.625em 1.5625em;
    height: 3.75em;
    border-radius: 1.875em;
    flex: 1;
    margin-right: 1em;
    font-size: 1em;
}

.search button {
    border: 0;
    outline: 0;
    background: #ffffff;
    border-radius: 50%;
    width: 3.75em;
    height: 3.75em;
    cursor: pointer;
}

.search button img {
    width: 2em;
    user-select: none;
    pointer-events: none;
}

.weather {
    user-select: none;
    pointer-events: none;
}

.weather-icon {
    width: 10.625em;
    margin-top: 1.875em;
    user-select: none;
    pointer-events: none;
}

.weather h1 {
    font-size: 5em;
    font-weight: bold;
}

.weather h2 {
    font-size: 2.5em;
    font-weight: 100;
    margin-top: -0.4em;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25em;
    margin-top: 2.5em;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    user-select: none;
    pointer-events: none;
}

.col img {
    width: 2.5em;
    margin-right: 0.625em;
}

.humidity .wind {
    font-size: 1.75em;
    margin-top: -0.375em;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 0.625em;
    font-size: 0.875em;
    margin-top: 0.625em;
    display: none;
}
